# Secrets
.env
*.env
credentials.json
token.json

# Local data
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm
.local

# Logs
*.log
logs/
*.out

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# Editors / OS
.vim/
.vscode/
.idea/
.DS_Store

# Python build metadata
*.egg-info/
